<!DOCTYPE html>
<!--[if IE 8]><html lang=en class=ie8><![endif]-->
<!--[if IE 9]><html lang=en class=ie9><![endif]-->
<!--[if !IE]><!-->
<html lang=en>
<!--<![endif]-->
<head>
  <title>Luki - {{ title }}</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="Luki is an easy-to-use bot with commands that can be used for fun, moderation, games, and more!">
  	<meta name="keywords" content="MrSheldon, Luki, Luki The Bot, discord bot, discord music bot, discord bots, luki discord bot, MrSheldon#0001, Jonasjac, Ofir#0011 Olybear9, luki.js, JavaScript" />
      <meta name="author" content="MrSheldon">
      <script src="/cdn-cgi/apps/head/IDK8fM1p2ro9Z2C2bu0w6fU5jSg.js"></script><link rel="shortcut icon" href="https://cdn.luki.xyz/logo/main">
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="https://luki.xyz/plugins/bootstrap/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://luki.xyz/plugins/font-awesome/css/font-awesome.css">
      <link rel="stylesheet" href="https://luki.xyz/plugins/prism/prism.css">
      <link rel="stylesheet" href="https://luki.xyz/elegant_font/css/style.css">
      <meta name="twitter:card" value="summary" />
      <meta name="twitter:title" content="Luki The Bot" />
      <meta name="twitter:description" content="Luki is an easy-to-use bot with commands that can be used for fun, moderation, games, and more!" />
      <meta name="twitter:image" content="https://cdn.luki.xyz/logo/main">
      <meta name="theme-color" content="#551A8B">
  	<meta property="og:site_name" value="Luki.xyz - {{ title }}">
      <meta property="og:title" content="Luki The Bot" />
      <meta property="og:url" content="https://luki.xyz" />
      <meta property="og:description" content="Luki is an easy-to-use bot with commands that can be used for fun, moderation, games, and more!" />
      <meta property="og:image" content="https://cdn.luki.xyz/logo/main" />
      <link id="theme-style" rel="stylesheet" href="https://luki.xyz/css/styles.css">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-8303101998555959",
      enable_page_level_ads: true
    });
  </script>
  </head>
  <body class="body-green">
    {% block body %}{% endblock %}
  </body>
